body{
    font-family: "Open Sans", sans-serif;
}

em {
    color: #068379;
}


li {
    list-style: none;
}
.navbar {
    background: linear-gradient(to right, #060606, #262828, #737374);
}

#professional {
    width: 15em;
    height: auto;
}

.navbar {
    background-image: linear-gradient(to right, #e7eff0, #d1dada, #bcc5c5, #a7b0b0, #939c9c);
}

header {
    padding-top: 15px;
    padding-bottom: 10px;
    background: linear-gradient(to right, #060606, #262828, #737374);
}

